extends layout

block content
  .container
    h1= title
    p Click on any tile to get started
    .tiles
      .tile-row
        .tile
        .tile
        .tile
      .tile-row
        .tile
        .tile
        .tile
      .tile-row
        .tile
        .tile
        .tile
      .buttons.text-center
        button.clear.btn.btn-default.navbar-btn.btn-lg(type='button')
          span.glyphicon.glyphicon-trash
            | &nbsp;Clear
        button.save.btn.btn-default.navbar-btn.btn-lg(type='button')
          span.glyphicon.glyphicon-floppy-open
            | &nbsp;Save
