.tiles {
    background: lightgray;
    width: 320px;
    padding-top: 5px;
}

.tile-row {
    margin-left: 5px;
}

.tile {
    width: 100px;
    height: 100px;
    background: white;
    display: inline-block;
    margin-right: 5px;
    border-color: darkgray;
    border-width: 2px;
    border-style: solid;

}